<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bf8bb7">  <td>21/06/30 08:45:39</td>   <td>0</td> <td title="&gt;&gt;TestBase.readProperteis()[pri:0, instance:testcases.LoginClassTest@2ff4f00f]">&gt;&gt;readProperteis</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@718231523</td>   <td></td> </tr>
<tr bgcolor="bf8bb7">  <td>21/06/30 08:45:39</td>   <td>9</td> <td>&nbsp;</td><td title="&gt;&gt;TestBase.browserLaunch()[pri:0, instance:testcases.LoginClassTest@2ff4f00f]">&gt;&gt;browserLaunch</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@718231523</td>   <td></td> </tr>
<tr bgcolor="b7dea0">  <td>21/06/30 08:45:54</td>   <td>14843</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginClassTest.verifyLoginFunctionality(java.lang.String, java.lang.String)[pri:0, instance:testcases.LoginClassTest@2ff4f00f]">verifyLoginFunctionality</td> 
  <td>main@718231523</td>   <td></td> </tr>
<tr bgcolor="bf8bb7">  <td>21/06/30 08:45:55</td>   <td>16004</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.takesScreenShotForFailureTest(org.testng.ITestResult)[pri:0, instance:testcases.LoginClassTest@2ff4f00f]">&lt;&lt;takesScreenShotForFailureTest</td> 
<td>&nbsp;</td>  <td>main@718231523</td>   <td></td> </tr>
<tr bgcolor="b7dea0">  <td>21/06/30 08:45:55</td>   <td>16004</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginClassTest.verifyLoginFunctionality(java.lang.String, java.lang.String)[pri:0, instance:testcases.LoginClassTest@2ff4f00f]">verifyLoginFunctionality</td> 
  <td>main@718231523</td>   <td></td> </tr>
<tr bgcolor="bf8bb7">  <td>21/06/30 08:45:56</td>   <td>16768</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.takesScreenShotForFailureTest(org.testng.ITestResult)[pri:0, instance:testcases.LoginClassTest@2ff4f00f]">&lt;&lt;takesScreenShotForFailureTest</td> 
<td>&nbsp;</td>  <td>main@718231523</td>   <td></td> </tr>
<tr bgcolor="b7dea0">  <td>21/06/30 08:45:56</td>   <td>16768</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginClassTest.verifyLoginFunctionality(java.lang.String, java.lang.String)[pri:0, instance:testcases.LoginClassTest@2ff4f00f]">verifyLoginFunctionality</td> 
  <td>main@718231523</td>   <td></td> </tr>
<tr bgcolor="bf8bb7">  <td>21/06/30 08:46:00</td>   <td>20938</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.takesScreenShotForFailureTest(org.testng.ITestResult)[pri:0, instance:testcases.LoginClassTest@2ff4f00f]">&lt;&lt;takesScreenShotForFailureTest</td> 
<td>&nbsp;</td>  <td>main@718231523</td>   <td></td> </tr>
<tr bgcolor="bf8bb7">  <td>21/06/30 08:46:00</td>   <td>20939</td> <td>&nbsp;</td><td title="&lt;&lt;TestBase.closeBrowser()[pri:0, instance:testcases.LoginClassTest@2ff4f00f]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@718231523</td>   <td></td> </tr>
</table>
